NEXT_PUBLIC_EMAIL_HOST=smtp.ethereal.email
NEXT_PUBLIC_EMAIL_SERVICE=gmail
NEXT_PUBLIC_EMAIL_PORT=465
NEXT_PUBLIC_EMAIL_USER=test@gmail.com
NEXT_PUBLIC_EMAIL_PASS=tet

#ubah menjadi .env atau buat .env dan paste konten ini